<div class="containar ">
  <div class="row no-gutters mt-5">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      
      <%= render "devise/shared/error_messages", resource: @post %>
      
      <h5 class="text-dark bg-light p-4 mb-0 ">投稿編集</h5>
      <div class="form-body p-4">
        <%= form_with model:@post, url:public_post_path, method: :PATCH do |f| %>
          <%= f.file_field :image, accept: "image/*", class: "w-100" %>
          <div class="input-group mb-3 mt-4">
            <%= f.text_field :title, class:"form-control", placeholder:"タイトル" %>
          </div>
          
          <%= f.text_area :caption, class:"form-control", rows:"3", placeholder:"コメント" %>
          
          <div class="check_box mt-1">
            <span>#タグ</span>
            <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
              <div>
                <%= tag.label do %>
                  <%= tag.check_box %>
                  <%= tag.text %>
                <% end %>
              </div>
            <% end %>
          </div>
         
          <br>
          <%= f.submit '更新', class:"btn btn-lg btn-block btn-info mt-4" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

