<div class="post-detail py-5 bg-light">
  <div class="card w-75 mx-auto mt-4 shadow-lg">
    <%= image_tag @post.get_image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
           <%= image_tag @post.user.get_profile_image, size: "100x100", class:"mt-3 rounded-circle";  %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(public_post_path(@post.id), class:"text-dark") do %>
              <span> <%= @post.title %></span></strong>
            <% end %>
          </p>
          <p class="card-title">説明：<%= @post.caption %></p>
          <span>By <%= @post.user.name %>  </span>
          <div id="comments-index"><%= render "post_comments/index", post: @post %></div>
          <div id="comments-form"><%= render "post_comments/form", post: @post, post_comment: @post_comment %></div>
          <% if @post.user == current_user %>
            <%= link_to '編集', edit_public_post_path(@post.id), class: "btn btn-sm btn-success" %>  <%= link_to "削除", public_post_path(@post), method: :delete, class: "btn btn-sm btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>