<table class='table table-bordered'>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ユーザー名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= user.name %></td>
        <td><%= render 'public/relationships/btn', user: user %></td>
        <td><%= link_to '詳細', public_user_path(user.id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="col-5 mx-auto">
  <%= paginate users, theme: 'twitter-bootstrap-4' %>
</div>
