<table class='table table-hover'>
  <tr><%= image_tag user.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>ユーザー名</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= user.introduction %></th>
  </tr>
  <tr>
    <th>フォロー<%= link_to  user.followings.count, public_user_followings_path(user.id) %>人</th>
    <th>フォロワー<%= link_to  user.followers.count, public_user_followers_path(user.id) %>人</th>
  </tr>
  <tr>
    <th><%=link_to "いいね一覧",favorites_public_user_path(user.id), class: "btn btn-outline-primary" %></th>
    <th><%= render 'public/relationships/btn', user: user %></th>
  </tr>
</table>

<div class='row'>
  <% if user.name != "guestuser" %>
    <% if user == current_user %>
      <%= link_to "プロフィール編集", edit_public_user_path(user), class: "btn btn-outline-secondary btn-block edit_user_#{user.id}" %>
    <% end %>
  <% end %>
</div>

<div class="row mt-5">
  <%= form_with url: search_path, local: true, method: :get do |f| %>
  <%= f.text_field :word %>
  <%= f.select :range, options_for_select([['User'],['Post']]) %>
  <%= f.select :search, options_for_select([["完全一致","perfect_match"],["部分一致","partial_match"]]) %>
  <%= f.submit "検索", class: "btn btn-primary btn-sm" %>
  <% end %>
</div>