<header class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <div class="container">
      <a class="navbar-brand" href="/"><span><%= image_tag 'logo.png' %></span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
          <li>
            <%= link_to 'マイページ', public_user_path(current_user), class: 'nav-link btn btn-outline-secondary text-light' %>
          </li>
          <li>
            <%= link_to '新規投稿', new_public_post_path, class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
          <li>
            <%=  link_to 'ユーザー', public_users_path, class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
          <li>
            <%=  link_to '投稿', public_posts_path , class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
          <li>
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
          <% elsif admin_signed_in? %>
          <li>
            <%=  link_to 'ユーザー', admin_users_path, class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
          <li>
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
        <% else %>
          <li>
            <%= link_to 'ホーム', root_path,class: 'nav-link btn btn-outline-secondary text-light' %>
          </li>
          <li>
            <%= link_to '新規登録', new_user_registration_path,class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
          <li>
            <%= link_to 'ログイン', new_user_session_path ,class: 'nav-link btn btn-outline-secondary text-light ml-1' %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <% if user_signed_in? %>
  
  <% end %>
</header>